<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/homepage">Homepage</a>
    
    <form action="/createComment/<%= post._id %>" method="post">
        <input type="text" name="content" >
        <input type="submit" value="comment">
    </form>
    <% if(post.comments.length>0){ %>
    <% post.comments.forEach(function(dets){ %>
                    <h1><%= dets.comment %></h1>
        <% }) %>
        <% }else{ %>
            <h1>No comments</h1>
            <% } %>
      
    
    
</body>
</html>