<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <body>
    <div id="main">
      <div id="box">
        <center><h1>Sasta IG</h1></center>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Username">
          <input type="password" name="password" placeholder="Password">
          <input type="submit" value="Login">
        </form>
        <center><h5>OR</h5></center>
        <center id="forgottonText"><a href="/forgetPassword"><p>Forgotton your password ? </p></a></center>
      </div>

      <!-- Box for register  -->
      <div id="registerBox">
        <center><h5>Don't have a account ? <a href="/signup">Sign up</a></h5></center>
      </div>
    </div>
  </body>
</html>
